{% extends 'maplecroft/base.html' %}

{% block head %}
<style>
#map {
	height: 400px;
	width: 600px;
}
</style>
{% endblock %}

{% block title %}
	Verisk Maplecroft - Twitter Feed
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<h1>Latest 10 tweets</h1>

			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Created at</th>
						<th>Message</th>
					</tr>
				</thead>
				<tbody>
					{% for tweet in tweets %}
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{tweet.created_at}}</td>
							<td>{{tweet.text}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<div id="map"></div>
		</div>
	</div>
</div>
{% endblock %}}

{% block scripts %}
<script>
function initMap() {
	var mid = new google.maps.LatLng( {{midpoint.0}}, {{midpoint.1}} );

	var map = new google.maps.Map( document.getElementById( 'map' ), {
		zoom: 1,
		center: mid
	} );

	{% for country, tweet_ids in tweets_by_country.items %}
		var marker = new google.maps.Marker( {
			position: new google.maps.LatLng( {{country.latitude}}, {{country.longitude}} ),
			map: map,
			title: '{{country.name}} tweets {{tweet_ids}}'
		} );
	{% endfor %}
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_API_KEY}}&callback=initMap"></script>
{% endblock %}}

