{% extends 'maplecroft/base.html' %}

{% block title %}
	Verisk Maplecroft
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				<h1>Verisk Maplecroft</h1>

				<div class="list-group">
					<a href="{% url 'twitterfeed:feedmap' %}" class="list-group-item list-group-item-action">Twitter Feed Map</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}